.categories-container {
    width: 100%;
    margin: 15px auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.categories-title {
    font-size: 1.5rem;
    margin-bottom: 16px;
    color: #282c3f;
}

.categories-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 24px;
    list-style: none;
    padding: 0;
    margin-top: 13px;
    margin-bottom: 20px;
    /* width: 100vw ; */
}

.category-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: #282c3f;
    font-weight: 600;
    font-size: 1rem;
    transition: color 0.2s;
}

.category-link:hover {
    color: #f54e77;
}

.category-img {
    width: 55px;
    height: 55px;
    object-fit: contain;
    margin-bottom: 8px;
}

.mySwiper {
    margin-top:15px;
    margin-bottom: 15px ;
}

@media (max-width: 600px){
    .category-img {
    width: 40px;
    height: 40px;
    }
}